/*----------------------------------------CONTENEDORES---------------------------------------*/

.forgot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container-form-forgot{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80rem;
    max-height: 70rem;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
  }         

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/*----------------------------------------FORM MAIN CHILL---------------------------------------*/

.form-main{
    max-width: 40rem;
}

.noneimg{
    width: 100%;
}
.imagen-content{
    padding: 7rem;
    border-radius: 20px;
    background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
    max-width: 40rem;
    max-height: 40rem;
}

/*----------------------------------------BOTONES---------------------------------------*/

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.btn-cancel {
    width: 150px;
    background-color: #ff4c4c;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 8rem;
}

.btn-cancel:hover {
    background-color: #ff0000;
}

.btn-cancel.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.btn-next {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn-next:hover {
    background-color: #4d84e2;
}

.btn-next.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.btn-cancel:hover, .btn-next:hover {
    transform: scale(1.05); /* Cambia según prefieras */
    transition: transform 0.3s ease-in-out;
}

/*----------------------------------------INPUT STYLE---------------------------------------*/

.input-field-email {
    max-width: 25rem;
    width: 100%;
    background-color: #f0f0f0;
    margin-top: 1.2rem;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field-email i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field-email input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1rem;
    color: #333;
}

.input-field-email input::placeholder {
    color: #aaa;
    font-weight: 500;
}

/*----------------------------------------CONTENEDORES-NOTA---------------------------------------*/

.nota-container{
    background-color: rgb(73, 167, 255);
    box-shadow: 0 0 10px rgba(91, 162, 255, 0.2);
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease-in-out;

}

.nota-container:hover {
    transform: scale(1.02);
}

.nota-par{
    color: #fff ;
}

.nota-par-2{
    color: #fff;
    margin-bottom: 4rem;
}


/*----------------------------------------TITULO---------------------------------------*/

.title-forgot{
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.relleno{
    padding: 0.5rem;
}

.parrafito{
    font-weight: 500;
    margin: 2rem;
    color: #fff;
}

/*----------------------------------------RESPONSIVE DESIGN---------------------------------------*/

@media (max-width: 1255px){
    
    
    .nota-par{
        margin-top: 3rem;
        margin-bottom: 2rem;
        
    }

    .nota-par-2{
        margin-top: 4rem;

    }
    .btn-cancel{
        margin-right: 8rem;
    }
    .imagen-content{
        padding: 1rem;
        max-width: 30rem;
        max-height: 30rem;
        
    }
    .noneimg{
        max-width: 20rem;
    }
}



@media (max-width: 1040px){
    
    .container-form-forgot{
        flex-direction: column;
    }

    .title-forgot{
        margin-top: 5rem;
    }

    

    .imagen-content{
        margin-top: 2rem;
        max-width: 40rem;
        
    }

    .noneimg{
        display: none;
    }

    .nota-par{
        margin: 0;
    }

    .nota-par-2{
        margin: 0;
    }

    
}


@media (max-width: 600px) {

    .container-form-forgot{
        margin: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    }

    .form-main{
        padding: 0;
        margin: 0;
        max-width: 20rem;
    }

    .title-forgot{
        margin-top: 0;
        font-size: 2rem;
    }

    .imagen-content{
        border-radius: 0;
    }
    

    .btn-cancel{
        width: 125px;
        margin-right: 4.4rem;
    }

    .btn-next {
        width: 120px;
    }

    .nota-par{
        font-size: 0.8rem;
    }

    .nota-par-2{
        font-size: 0.8rem;
    }
    .parrafito{
        font-size: 0.8rem;
    }
    
}

@media (max-width: 325px) {
   
    .form-main{
        padding: 0;
        margin: 0;
        max-width: 18rem;
    }
    .title-forgot{
        font-size: 2rem;
    }

    .btn-cancel{
        width: 125px;
        margin-right: 2.5rem;
    }
}